section .waveFooter {
  position: absolute;
  width: 100%;
  background-image: url("/wave.png");
  background-size: 1000px 500px;
  height: 500px;
}

section .waveFooter.waveFooterBg {
  z-index: -120;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .waveFooter.waveFooter1 {
  animation: animate2 25s linear infinite;
  z-index: 1000;
  opacity: 0.9;
  animation-delay: 0s;
  bottom: 0;
}
section .waveFooter.waveFooter2 {
  animation: animate 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -7s;
  bottom: 0;
}
section .waveFooter.waveFooter3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 0;
}
section .waveFooter.waveFooter4 {
  animation: animate 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -4s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
